<head>
<meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
<link href='c3/c3.css' rel='stylesheet' type='text/css'>
<link href='graph.css' rel='stylesheet' type='text/css'>
<script src='c3/bower_components/d3/d3.js' charset='utf-8'></script>
<script src='c3/c3.js'></script>

<style type='text/css'>
    body {

    background-size: 1200px 725px; /** nexus 7 */
    background-repeat: no-repeat;
        background-image: url('./background.png');
        margin-top: 80px;
        margin-left: 200px;
    }
    .offset {
        margin-left: 130px;
    }
    .c3-event-rects {
    fill: #6a6a6a;
}

</style>

</head>
<body style='height:660px;'>

<div>
<div onclick="clickme1()" class='chart'        style='display:inline-block;'> <div class='title'><div><span id="ta1" class='first'></span> <span id="tb1"></span> </div><div><span class='second'> <span id="tc1"></span> </span> <span id="td1"></span> </div> </div><div id='chart1'></div></div>
<div onclick="clickme2()" class='chart'        style='display:inline-block;'> <div class='title'><div><span id="ta2" class='first'></span> <span id="tb2"></span> </div><div><span class='second'> <span id="tc2"></span> </span> <span id="td2"></span> </div> </div><div id='chart2'></div></div>
<div onclick="clickme3()" class='chart offset' style='display:inline-block;'> <div class='title'><div><span id="ta3" class='first'></span> <span id="tb3"></span> </div><div><span class='second'> <span id="tc3"></span> </span> <span id="td3"></span> </div> </div><div id='chart3'></div></div>
<div onclick="clickme4()" class='chart'        style='display:inline-block;'> <div class='title'><div><span id="ta4" class='first'></span> <span id="tb4"></span> </div><div><span class='second'> <span id="tc4"></span> </span> <span id="td4"></span> </div> </div><div id='chart4'></div></div>
</div>
<div>
<div onclick="clickme5()" class='chart'        style='display:inline-block;'> <div class='title'><div><span id="ta5" class='first'></span> <span id="tb5"></span> </div><div><span class='second'> <span id="tc5"></span> </span> <span id="td5"></span> </div> </div><div id='chart5'></div></div>
<div onclick="clickme6()" class='chart'        style='display:inline-block;'> <div class='title'><div><span id="ta6" class='first'></span> <span id="tb6"></span> </div><div><span class='second'> <span id="tc6"></span> </span> <span id="td6"></span> </div> </div><div id='chart6'></div></div>
<div onclick="clickme7()" class='chart offset' style='display:inline-block;'> <div class='title'><div><span id="ta7" class='first'></span> <span id="tb7"></span> </div><div><span class='second'> <span id="tc7"></span> </span> <span id="td7"></span> </div> </div><div id='chart7'></div></div>
<div onclick="clickme8()" class='chart'        style='display:inline-block;'> <div class='title'><div><span id="ta8" class='first'></span> <span id="tb8"></span> </div><div><span class='second'> <span id="tc8"></span> </span> <span id="td8"></span> </div> </div><div id='chart8'></div></div>
</div>

<script type='text/javascript'>
/* NEXUS 7
CSS
        margin-top: 50px;
        margin-left: 150px;
HTML
<body style='height:460px;'>

*/
function clickme1() { Android.changeScreen1(); }
function clickme2() { Android.changeScreen2(); }
function clickme3() { Android.changeScreen3(); }
function clickme4() { Android.changeScreen4(); }
function clickme5() { Android.changeScreen5(); }
function clickme6() { Android.changeScreen6(); }
function clickme7() { Android.changeScreen7(); }
function clickme8() { Android.changeScreen8(); }
/* NEXUS 7
    size: {
       width: 120,
       height: 150,
    },
*/
var content = {
    bindto: '#chart',
    data: {
        xs: {
            dilatacionA_y : 'dilatacionA_x',
            dilatacionB_y : 'dilatacionB_x',
        },
        columns: [
            ['dilatacionA_x', 0],
            ['dilatacionA_y', 0],
            ['dilatacionB_x', 0],
            ['dilatacionB_y', 0],
        ],
        type: 'scatter',
        selection: {
            enabled: false
        },
    },
    point: {
        r: 5
    },
    legend: {
      hide:true  
    },
    size: {
       width: 180,
       height: 200,
    },
    grid: {
        x: {
            show: false,
            lines: [
              {value: 0,},
            ]
        },
        y : {
            show: false,
            lines: [     
              {value: 0,},
            ]
        }
    },
    tooltip: {
      show: false
    },
    axis: {
        
        x: {
            min:-120,
            max: 120,
            center: 0,
            label: '',
            tick: {
                fit: false,
                values: []
            }
        },
        y: {
            center: 0,
            min:-120,
            max: 120,
            label: '',
            tick: {
                fit: false,
                values: []
            }
        }
    },
    color: {
        pattern: ['rgba(0, 195, 140, 1)', 'rgba(219, 134, 17, 1)']
    },
};

// REPLACE
var sensor_name_A   = [];
var value_display_A = [];
var real_data_A_H   = [];
var real_data_A_W   = [];
var sensor_name_B   = [];
var value_display_B = [];
var real_data_B_H   = [];
var real_data_B_W   = [];
var run = false;
/*
for (var i = 0; i < 8; i++) {
    var contentCopy = JSON.parse(JSON.stringify(content));
    contentCopy.data.columns[0][1] = Math.random()*240 - 120;
    contentCopy.data.columns[1][1] = Math.random()*240 - 120;
    contentCopy.data.columns[2][1] = Math.random()*240 - 120;
    contentCopy.data.columns[3][1] = Math.random()*240 - 120;

    console.log(contentCopy.data.columns[0][1], contentCopy.data.columns[1][1])
    console.log(contentCopy.data.columns[2][1], contentCopy.data.columns[3][1])

    contentCopy.bindto = '#chart' + (i+1);
    c3.generate(contentCopy);
}
*/
if (run) {
    for (var i = 0; i < 8; i++) {
        var contentCopy = JSON.parse(JSON.stringify(content));
        contentCopy.data.columns[0][1] = real_data_A_H[i];
        contentCopy.data.columns[1][1] = real_data_A_W[i];
        contentCopy.data.columns[2][1] = real_data_B_H[i];
        contentCopy.data.columns[3][1] = real_data_B_W[i];
        contentCopy.bindto = '#chart' + (i+1);
        c3.generate(contentCopy);

        var name1 = "ta" + (i+1) ;
        var name2 = "tb" + (i+1) ;
        var name3 = "tc" + (i+1) ;
        var name4 = "td" + (i+1) ;

        document.getElementById(name1).innerText = sensor_name_A[i];
        document.getElementById(name2).innerText = value_display_A[i];
        document.getElementById(name3).innerText = sensor_name_B[i];
        document.getElementById(name4).innerText = value_display_B[i];

    }
} else {
    var x = document.getElementsByClassName("chart");
    for(var i = 0; i < x.length; i++)
        x[i].style.visibility = "hidden" ;
}


</script>
</body>
