body {

    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-size: 12;

    background-color: #333;
}


.c3-shape {
    opacity: 1;
}

.dash {
border-style: #000;
}

/*** Works on common browsers ***/
::selection {
background-color: #fff;
color: #fff;
}

/*** Mozilla based browsers ***/
::-moz-selection {
background-color: #fff;
color: #fff;
}

/***For Other Browsers ***/
::-o-selection {
background-color: #fff;
color: #fff;
}

::-ms-selection {
background-color: #fff;
color: #fff;
}

/*** For Webkit ***/
::-webkit-selection {
background-color: #fff;
color: #fff;
}

.chart {
    color:#ccc;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.title {
opacity:0.92;
background-color: #222;
width:80%;
border: #fff 1px solid;
padding: 3px;
text-align: center;
}
.first {
color : rgb(0, 195, 140)
}
.second {
color : rgb(219, 134, 17);
}
.c3-axis{
stroke: #ccc;
}

.c3 path {
stroke: #ccc;
}
.c3 line {
stroke-dasharray: 3 3;
stroke: #ccc;
}
.y-grid {
stroke-dasharray: 3 3;
stroke: #f00;
}
