<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<link href="c3/c3.css" rel="stylesheet" type="text/css">
<link href="graph.css" rel="stylesheet" type="text/css">
<script src="c3/bower_components/d3/d3.js" charset="utf-8"></script>
<script src="c3/c3.js"></script>
<style type="text/css">
    .info { color: #888; font-size: 20px; }
    .c3-event-rects {
        fill: #333;
    }
    #imgbox { text-align: center; }
</style>

</head>
<body>

<div>
<div class="chart" style="display:inline-block;">
    <div id="line1"></div>
    <div id="line2"></div>
</div>

<div class="chart" style="display:inline-block; margin-left:20px;">
    <div id="chart1"></div>
    <div id="imgbox"><img width="350" src="__IMAGE_SENSOR__"/></div>
</div>

<div class="info">
    <span style="margin-left:20px;" class="first">H</span> Lado Oeste
    <span style="margin-left:20px;" class="second">O</span>  Lado Este
</div>
</div>

<script type="text/javascript">

/* NEXUS 7

    size: {
       width: 510,
       height: 205,
    },
*/
var line = {
    legend: {
      hide:true
    },
    size: {
       width: 710,
       height: 305,
    },

    bindto: '#line',
    data: {
        x : 'x',
        columns: [
            ['x'],
            ['data1'],
            ['data2']
        ],
        selection: {
            enabled: true
        },
        //type: 'spline'
    },
    grid: {
        x: {
            show: true
        },
        y : {
            show: true
        }
    },
    point: {
        r: 1
    },
    color: {
            pattern: ['rgba(0, 195, 140, 1)', 'rgba(219, 134, 17, 1)']
    },
    axis : {
        x : {
            type: 'timeseries',
            tick: {
                count: 5    ,
                //rotate: 20,
                format: '%m/%d %H:%M'
            }
        }
    }
};


/*
NEXUS 7
    size: {
       width: 300,
       height: 300,
    },
*/
var content = {
    bindto: '#chart1',

    color: {
            pattern: ['rgba(0, 195, 140, 1)', 'rgba(219, 134, 17, 1)']
    },

    data: {
        xs: {
            dilatacionA_y : 'dilatacionA_x',
            dilatacionB_y : 'dilatacionB_x',
        },
        columns: [
            ["dilatacionA_x"],
            ["dilatacionA_y"],
            ["dilatacionB_x"],
            ["dilatacionB_y"],
        ],
        type: 'scatter'
    },
    point: {
        r: 5
    },
    legend: {
      hide:true
    },
    size: {
       width: 350,
       height: 350,
    },
    grid: {
        x: {
            show: true
        },
        y : {
            show: true
        }
    },
    tooltip: {
        format: {
            title: function (x) { return "dilatación X " + x.toFixed(4); },
            name: function(name, ratio, id, index) { return ""; },
            value: function (value, ratio, id, index) { return "dilatación Y " + value.toFixed(4); }
            }
    },
    axis: {

        x: {
            min:-120,
            max: 120,
            //center: 0,
            label: 'H',
            tick: {
                //fit: false,
                //values: [-1, -0.5, 0, 0.5, 1]
            }
        },
        y: {
            //center: 0,
            min:-120,
            max: 120,
            label: 'V',
            tick: {
                //fit: false,
                //values: [-1, -0.5, 0, 0.5, 1]
            }
        }
    }
};

content.data.columns[0][1] = 0;
content.data.columns[1][1] = 0;
content.data.columns[2][1] = 0;
content.data.columns[3][1] = 0;

var line1 = JSON.parse(JSON.stringify(line));
var line2 = JSON.parse(JSON.stringify(line));
line1.bindto = "#line1";
line2.bindto = "#line2";

line1.data.columns[0] = [];
line1.data.columns[1] = [];
line1.data.columns[2] = [];

line2.data.columns[0] = [];
line2.data.columns[1] = [];
line2.data.columns[2] = [];

var run = false;

if (run) {
    c3.generate(line1);
    c3.generate(line2);
    c3.generate(content);
}


</script>
</body>
